/* Aplicando reset no css padrão */
* {
  margin: 0;
  border: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Roboto', sans-serif;
}

body {
  background-color: #FFFFFF;
  width: 100%;
}

.container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  margin: 0 auto;
}

.left {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 0 24px;
}

.left h1 {
  width: 100%;
  max-width: 560px; /* mesmo que a tela seja gigante, o h1 respeitará esta máxima largura*/
  margin-bottom: 18px;
  font-size: 32px;
}

.form {
  position: relative;
  display: flex;
  flex-direction: column;
  width: 100%;
  max-width: 560px; /* mesmo que a tela seja gigante o form terá esta máxima largura*/
}

.input {
  border: 1px solid #000;
  border-radius: 4px;
  margin-bottom: 18px;
  min-width: 100%; /* vai pegar 100% do pai dele, que é o form*/
  padding: 0 14px;
}

.form input[type=text], .form input[type=email], .form input[type=password] {
  height: 42px;
}

.button {
  background-color: #0056fb;
  height: 42px;
  border-radius: 4px;
  color: #FFFFFF;
  font-size: 16px;
  font-weight: bold;
  width: 100%;
  max-width: 560px;
  cursor: pointer;
  margin-bottom: 18px;
  transition: background-color 0.5s linear;
  z-index: 2; /* para ficar sempre acima do meu code.svg que tem z-index igual a 1*/
}

.button:hover {
  background-color: #008afb;
}

.area {
  width: 100%;
  max-width: 560px;
  margin-bottom: 18px;
}

.link {
  align-self: flex-start; /*para manter sempre no começo*/
  font-weight: bold;
}

.link a{
  text-decoration: none;
  color: #000000;
  font-weight: normal;
  margin-left: 6px;
}

.right {
  flex: 1;
  background-color: #0056fb;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 0 24px;
}

.info-img {
  width: 100%;
  max-width: 400px;
  height: auto;
  margin-bottom: 18px;
}

.subtitle {
  max-width: 400px;
  font-size: 38px;
  color: #FFFFFF;
  margin-bottom: 18px;
}

.description {
  max-width: 400px;
  line-height: 150%;
  color: #FFFFFF;
}

.form::before { /* "antes" do nosso form*/
  content: '';
  position: absolute; /* absolute, mas o form tem que ser relative! */
  background-image: url('assets/code.svg');
  background-size: 90px;
  background-repeat: no-repeat;
  z-index: 1;
  width: 90px;
  height: 90px;
  opacity: 0.3;
  bottom: -50px;
  right: -35px;
}

@media (max-width: 700px) {
  .container {
    flex-direction: column;
    min-height: 100vh;
  }

  .left {
    width: 85%;
    padding: 24px 0;
  }

  .left h1 {
    margin-bottom: 18px;
  }

  .right {
    padding: 32px 0;
    width: 100%;
    height: 100%;
  }

  .form::before { /* somente por capricho. E entender que podemos configurar com @media */
    background-size: 80px;
    width: 82px;
    height: 82px;
    bottom: -46px;
    right: -30px;
    /* border: #000 solid 1px; */
  }

}

@media (max-width: 500px) {
  .info-img {
    width: 84%;
  }

  .subtitle {
    margin-bottom: 18px;
    font-size: 32px;
    max-width: 400px;
    padding: 0 14px;
    text-align: center;
  }

  .description {
    max-width: 400px;
    padding: 0 14px;
  }
}